[Unit]
Description=switchdev broadcom modules init
After=local-fs.target

[Service]
Type=oneshot
ExecStart=-/etc/init.d/switchdev-modules start
ExecStop=-/etc/init.d/switchdev-modules stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

